* {
  margin: 0;
  padding: 0;
}

:root {
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --Bold: 700;
  --btn-blue: #3a3af4;
  --background: #181818;
}

body {
  background-color: var(--background);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/half_radial.svg);
  background-repeat: no-repeat;
  background-position: top;
  overflow-x: hidden;
}

nav .icon {
  display: none;
}

nav {
  margin: 58px 150px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}

nav .navbar {
  display: flex;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  padding: 15px 30px;
  border-radius: 3px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

nav .logo .logo-text {
  font-size: 26px;
  font-family: 'Kaushan Script', cursive;
}

nav .navbar a,
nav .btn-login a {
  font-size: 16px;
}

.logo-name {
  display: flex;
  gap: 10px;
  align-items: start;
}

img[src*='pencil.svg'] {
  width: 17px;
}

nav .btn-login a {
  background-color: rgba(255, 255, 255, 0.05);
}
nav .btn-login a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

/* main */
section.text {
  width: 922px;
  margin: 123px auto 72px;
  text-align: center;
}

.text .big-text {
  font-size: 40px;
  font-weight: var(--light);
}

.text .big-text span {
  font-weight: var(--medium);
}

.text div {
  margin-bottom: 30px;
}

.text .small-text {
  width: 556px;
  font-weight: var(--regular);
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.8);
  line-height: 34px;
}

.text a {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  background-color: var(--btn-blue);
  border-radius: 3px;
}

.text a:hover {
  transform: scale(1.1);
  background-color: #3a3af4cb;
  transition: 0.2s;
}

main {
  background-image: url(../images/radial.svg);
  background-position: center -12px;
  background-repeat: no-repeat;
  padding-bottom: 136px;
}

.main-image {
  padding: 13px 30px 34px;
  width: 1006px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.03);
  text-align: center;
  border-radius: 10px;
}

.main-image .search-bar {
  width: 358px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  margin: 0 auto 16px;
  border-radius: 6px;
}

.search-bar img {
  width: 15px;
}

.search-bar .left-search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

img[src*='main_image.png'] {
  width: 946px;
}

.main-image .top {
  position: relative;
}

.ellipses {
  position: absolute;
  top: 20px;
  left: 30px;
}

.ellipses img {
  width: 15px;
}

/* ========================Responsive======================== */
@media screen and (max-width: 1200px) {
  nav {
    margin: 58px 100px 0;
  }
  section.main-image {
    width: 90%;
  }

  img[src*='main_image.png'] {
    width: 95%;
  }
}

@media screen and (max-width: 992px) {
  nav {
    margin: 58px 24px 0;
  }

  section.text {
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: block;
  }

  nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .navbar {
    display: none;
    text-align: left;
  }

  .navbar a {
    display: block;
  }

  nav .btn-login {
    display: none;
  }

  nav .btn-login a {
    display: block;
    background-color: transparent;
  }

  nav .btn-login a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
  }

  nav .icon {
    display: block;
  }

  nav .responsive {
    display: block;
  }
  nav .responsive2 {
    display: block;
  }

  .text .big-text {
    font-size: 36px;
  }

  .text .small-text {
    font-size: 14px;
  }

  .text a {
    padding: 10px 25px;
    font-size: 14px;
  }

  .main-image .search-bar {
    width: fit-content;
    gap: 50px;
    padding: 10px 7px;
  }
  .left-search-bar span {
    font-size: 12px;
  }
  .search-bar img {
    width: 12px;
  }

  .main-image {
    padding: 15px 25px 29px;
  }

  section.main-image {
    width: 80%;
  }

  img[src*='main_image.png'] {
    width: 95%;
  }
  .ellipses {
    top: 10px;
    left: 15px;
  }

  .ellipses img {
    width: 10px;
  }
}

@media screen and (max-width: 576px) {
  .text .small-text {
    width: fit-content;
  }
  main-image .search-bar {
    padding: 7px 7px;
  }
  .left-search-bar span {
    font-size: 10px;
  }
  .search-bar img {
    width: 10px;
  }

  .main-image {
    padding: 10px 20px 24px;
  }

  .ellipses {
    display: none;
  }
}
@media screen and (max-width: 320px) {
}
